body {
	background: #fff;
	font-family: myriad pro;
}

.light-blue {
	background: #3399cc;
	height: 42px;
	border-bottom: 1px solid #208ce3; /*change for web safe colors later? / change background to image to difference b/t border and bg)*/
	width: 100%;
	background: url("top-menu-bg.png");
	padding-top: 2px;
}

/*.top-divider {
	height: 30px;
	width: 1px;
	background: #1c85d8;
	padding: 4px;
}*/

.mini {
	text-align: right;
	color: #fff;
	font-size: 13pt;
	display: inline;
	margin-top: -8px;
	letter-spacing: .5px;
}

.navy {
	border-top: 1px solid #124169;
	background: url("dark-blue-stripe-bg.png");
	height: 110px;
        width: 100%;
}

.icons {
	padding-top: 15px;
	text-align: center;
	float: left;
}

.left-opacity {
	background-image: url("dark-blue-bg-left-and-right.png");
	background: linear-gradient(to right, rgba(19, 70, 112, 1), rgba(19, 70, 112, .8), rgba(19, 70, 112, .1));
	min-height: 110px;
	min-width: 0px;
}

.right-opacity {
	background: linear-gradient(to left, rgba(19, 70, 112, 1), rgba(19, 70, 112, .8), rgba(19, 70, 112, .1));
	min-height: 110px;
	min-width: 0px;
}

.search {
	margin-top: 20px;
	margin-left: -10px;
	min-height: 33px;
	background: #fff;
	border-radius: 3px;
	border: 1px solid #33cc66;
}

.dashboard {
	background: #33cc66;
	border-radius: 3px;
	margin-top: 15px;
	margin-bottom: 15px;
	min-height: 75px;
	color: #fff;
	margin-right: -5px;
}

.dash-text {
	font-size: 2.5em; /*36pt*/
	font-family: myriad pro;
	padding-top: 10px;
}

.graph-channel-pad {
	padding-top: 30px;
}

.graph {
	min-height: 240px;
}

.channels {
	min-height: 240px;
	text-align: center;
}

.channels-text {
	font-size: 13pt;
	font-family: myriad pro;
	color: #999;
	text-align: left;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
}

.graph-activity {
	font: 13pt;
	color: #999;
}

.graph-dropdown {
	margin-top: -7px;
	text-align: right;
}

.graph-dropdown select {
	border: 1px solid #dddddd;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	-webkit-appearance: none;  /*Removes default chrome and safari style*/
	-moz-appearance: none; /* Removes Default Firefox style*/
	background: url('down-arrow-menu.png') no-repeat;  /*Adds background-image*/
	background-position: 150px 13px;  /*Position of the background-image*/
	width: 170px; /*Width of select dropdown to give space for arrow image*/
	text-indent: 0.01px; /* Removes default arrow from firefox*/
	/*text-overflow: "");*/
}

.graph-image {
	padding-top: 10px;
}

.body {
	background: #f7f7f7;
	padding-top: 10px;
	padding-left: 25px;
	padding-right: 25px;
	margin-top: 10px;
	border-radius: 10px;
	margin-left: -5px;
	background: linear-gradient(rgba(246, 246, 246, 1) 0%, rgba(255, 255, 255, 0) 30%);
}

/*.margin {
	margin-left: 5px;
}*/

.announcements {
	border-left: 1px solid #eeeeee;
	border-top: 1px solid #eeeeee;
	border-bottom: 1px solid #eeeeee;
	background: #fff;
	/*margin-left: -2px;*/
	min-height: 50px;
	padding-top: 12px;
	color: #777777;
}

.arrows {
	border-left: 1px solid #eeeeee;
	border-top: 1px solid #eeeeee;
	border-bottom: 1px solid #eeeeee;
	border-right: 1px solid #eeeeee;
	background: #fff;
	/*margin-left: -2px;*/
	min-height: 50px;
	padding-top: 12px;
}

.border {
	border-left: 1px solid #e9e9e9;
	border-bottom: 1px solid #e9e9e9;
	}
	
.border-bottom {
	border-bottom: 1px solid #e9e9e9;
}
	
.border-left {
	border-left: 1px solid #e9e9e9;
}

.announcements-title {
	color: #fe7f13;
	border-left: 1px solid #eeeeee;
	border-top: 1px solid #eeeeee;
	border-bottom: 1px solid #eeeeee;
	background: #fff;
	/*margin-right: -2px;*/
	min-height: 50px;
	padding-top: 12px;
	font-family: myriad pro;
	font-size: 12pt;
}

.tasks-section {
	min-height: 300px;
	background: #fff;
}

.tasks-left {
	min-height: 60px;
	padding-top: 10px;
	font-size: 20pt;
}

.tasks-text-gray, .tasks-text-blue:hover, .tasks-text-gray a:link, a:active, a:visited{
        color: #cccccc;
	font-size: 20pt;
}

.tasks-text-blue, .tasks-text-blue a:link, a:active, a:visited {
	color: #2498f4;
	font-size: 20pt;
}

.tasks-right {
	min-height: 60px;
	padding-top: 10px;
	padding-right: 20px;
}

.tasks-title, .recommendations-title, .analytics-title {
	font-size: 30pt;
	font-family: myriad pro;
	color: #2498f4;
	padding-top: 10px;
}

.number-gray, .number-green:hover {
	background: #cccccc;
	height: 30px;
	width: 30px;
	border-radius: 20px;
	color: #fff;
	font-size: 18pt;
	padding-right: 2px;
	padding-top: 3px;
	display: inline-block;
	text-align: center;
}

.number-green {
	background: #32cc66;
	height: 30px;
	width: 30px;
	border-radius: 20px;
	color: #fff;
	font-size: 18pt;
	padding-right: 2px;
	padding-top: 3px;
	display: inline-block;
	text-align: center;
}

.tasks-people-gray {
	width: 60px;
	height: 30px;
	border: solid 1px #cccccc;
	font-size: 16pt;
	color: #cccccc;
	border-radius: 3px;
	margin-left: -35px;
	margin-right: 20px;
}

.tasks-people-number {
	font-size: 16pt;
	color: #cccccc;
	float: right;
	padding-right: 2px;
	padding-top: 3px;
}

.tasks-people-number-blue {
	color: #2498f4;
}

.task-people-number-blue:hover {
	color: #cccccc;
}

.border-bottom {
	border-bottom: solid 1px #e9e9e9; /* change to e9e9e9 later */
}

.reco-border-bottom {
	border-bottom: dotted 1px #e9e9e9;
}

.analytics {
	min-height: 405px;
	background: #fff;
	border-right: 1px solid #e9e9e9;
}

.recommendations {
	/*min-height: 594px;*/
	min-height: auto;
}

.reco-icon {
	padding-top: 15px;
	float: left;
	min-height: 60px;
}

.reco-text {
	padding-top: 15px;
	float: right;
	min-height: 60px;
	padding-bottom: 6px;
}

.reco-text-type {
	font-size: 10pt;
	line-height: 10pt;
	color: #777777;
}

.reco-text-title, .reco-text-title a:link, a:active, a:visited, a:hover {
	font-size: 16pt;
	line-height: 17pt;
	color: #777777;
}

.social-icons {
	padding-top: 35px;
	padding-bottom: 20px;
	text-align: center;
	border-bottom: solid 1px #e9e9e9;
}

.check-padding{
        margin:20px;
        padding:5px;
}

input[type=checkbox] {
      /* All browsers except webkit*/
      transform: scale(1.5);

      /* Webkit browsers*/
      -webkit-transform: scale(1.5);
    }

.advertisements {
	min-height: 220px;
	width: 100%;
	background: #3399ff;
	text-align: center;
	margin-bottom: 20px;
	display: inline-block;
}

.dyk-banner {
	min-height: 179px;
	text-align: center;
	padding: 25px;
	border-right: 1px solid #e9e9e9;
}

.banner {
        width: 590px;
	height: 140px;
	background: #2498f4;
	border-radius: 3px;
	display: inline-block;
	padding: 40px;

}
.contact-box {
	background: #fff;
	border: solid 1px #f2f2f2;
	box-shadow: 0px 2px 5px #888888;
	min-height: 200px;
	width: 210px;
	border-radius: 6px;
	display: inline-block;
	margin-top: 50px;
	text-align: center;
}

.contacts-text {
	width: 210px;
	height: 50px;
	background: #2394ee;
	margin-top: -10px;
	position:absolute;
	font-size: 1.3125em;
	color: #fff;
}

.contacts-small {
	font-size: .6875em;
	line-height: .69em;
	color: #fff;
}

.small-dyk-text {
	font-family: myriad pro;
	font-size: .8125em;
	color: #fff;
	text-transform: uppercase;
	text-align: left;
	padding-left: 5px;
}

.dyk-text {
	font-family: myriad pro;
	font-size: .9375em;
	color: #fff;
	padding-left: 5px;
	text-align: left;	
}

.contacts {
	min-height: 269px;
	text-align: center;
	border-bottom: 1px solid #e9e9e9;
	border-right: 1px solid #e9e9e9;
}

.advert {
	width: 280px;
	height: 160px;
	background: #fff;
	border-radius: 3px;
	display: inline-block;
	margin-top: 30px;
	margin: 40px;
	box-shadow: 0px 2px 5px #999999;
}

.footer {
	margin-top: 20px;
	padding-top: 20px;
	height: 60px;
	background: url('footer-bg.png');
}

.footer a:link, a:active, a:visited {
	color: #999999;
	font-size: 14pt;
}

.footer-separator {
	background: url("footer-separator.png");
	height: 50px;
	width: 1px;
	margin-top: -10px;
	float: right;
}

.footer-log {
	padding-top: 30px;
	display: inline;
	line-height: 14pt;
}

.footer-txt {
	padding: 2px;
	font-size: 14pt;
	color: #999999;
	padding-left: 12px;
}

.footer-txt b {
	color: #58aff3;
}

.center-ads {
	text-align: center;
}

.footer-pad {
	padding-left: 15px;
	padding-right: 15px;
}