body {
	background: #fff;
}

.light-blue {
	background: #3399cc;
	min-height: 42px;
	border-bottom: 1px solid #208ce3; /*change for web safe colors later? / change background to image to difference b/t border and bg)*/
	width: 100%;
	background: url("top-menu-bg.png");
	repeat-x: repeat;
}

/*.top-divider {
	height: 30px;
	width: 1px;
	background: #1c85d8;
	padding: 4px;
}*/

.mini {
	text-align: right;
	color: #fff;
	font: 15px arial;
	display: inline-block;
}

.navy {
	border-top: 1px solid #124169;
	background: url("dark-blue-stripe-bg.png");
	min-height: 110px;
        width: 100%;
}

.icons {
	padding-top: 15px;
	text-align: center;
}

.left-opacity {
	background-image: url("dark-blue-bg-left-and-right.png");
	background: linear-gradient(to right, rgba(19, 70, 112, 1), rgba(19, 70, 112, .8), rgba(19, 70, 112, .1));
	min-height: 110px;
}

.right-opacity {
	background: linear-gradient(to left, rgba(19, 70, 112, 1), rgba(19, 70, 112, .8), rgba(19, 70, 112, .1));
	min-height: 110px;
}

.search {
	border: 1px solid black;
	min-height: 33px;
	background: #fff;
	border-radius: 3px;
	border: 1px solid #33cc66;
}

.dashboard {
	background: #33cc66;
	border-radius: 3px;
	margin-top: 15px;
	margin-bottom: 15px;
	min-height: 75px;
	color: #fff;
}

.dash-text {
	font: 36pt arial;
}

.graph {
	height: 150px;
}

.body {
	background: #f7f7f7;
	padding: 10px;
	margin-top: 10px;
	border: 1px solid #eeeeee;
	border-radius: 10px;
}

/*.margin {
	margin-left: 5px;
}*/

.announcements, .arrows {
	border-left: 1px solid #eeeeee;
	border-top: 1px solid #eeeeee;
	border-bottom: 1px solid #eeeeee;
	background: #fff;
	margin-left: -2px;
	min-height: 50px;
}

.border {
	border-left: 1px solid #e9e9e9;
	border-bottom: 1px solid #e9e9e9;
	}

.announcements-title {
	color: #fe7f13;
	border-left: 1px solid #eeeeee;
	border-top: 1px solid #eeeeee;
	border-bottom: 1px solid #eeeeee;
	background: #fff;
	margin-right: -2px;
	min-height: 50px;
}

.tasks-section {
	min-height: 300px;
	background: #fff;
}

.tasks-left, .tasks-right {
	min-height: 60px;	
}

.border-bottom {
	border-bottom: solid 1px #000; /* change to e9e9e9 later */
}

.analytics {
	min-height: 405px;
}

.recommendations {
	min-height: 554px;
}

.advertisements {
	min-height: 220px;
	background: #3399ff;
}

.dyk-banner {
	min-height: 179px;
}

.contacts {
	min-height: 269px;
}